<div class="row">
    <div class="span12">
        <h2 align='center'>Calculation Summary</h2>
        <div class="bs-example form-horizontal well" data-example-id="striped-table">

            <table class="table table-striped table-bordered table-hover">

                <thead>
                    <tr>

                        <th>Category</th>
                        <th>Term</th>
                        <th>Amortization Period</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <td>Number of Payments</td>
                        <td>${{nOofPayments}}</td>
                        <td>${{amortizationnOofPayments}}</td>
                    </tr>
                    <tr>

                        <td>Mortgage Payment</td>
                        <td>${{mortgagePayment}}</td>
                        <td>${{amortizationmortgagePayment}}</td>
                    </tr>
                    <tr>

                        <td>Prepayment</td>
                        <td>${{prePayment}}</td>
                        <td>${{amortizationprePayment}}</td>
                    </tr>

                    <tr>

                        <td>Principal Payments</td>
                        <td>${{principalPayment}}</td>
                        <td>${{amortizationprincipalPayment}}</td>
                    </tr>
                    <tr>

                        <td>Interest Payments</td>
                        <td>${{interestPayment}}</td>
                        <td>${{amortizationinterestPayment}}</td>
                    </tr>

                    <tr>

                        <td>Total Cost</td>
                        <td>${{totalCost}}</td>
                        <td>${{amortizationtotalCost}}</td>
                    </tr>

                </tbody>
                <tfoot>
                </tfoot>
            </table>
            <p>Please not that this Mortgage Calculator is for demo purpose</p>

            <div>


                <h2>
                    Mortgage Summary</h2>

                <div>
                    <p>
                        &nbsp;Over the 25-year amortization period, you will:
                    </p>
                    <ul>
                        <li>
                            have made <strong>300</strong> monthly (12x per year) payments of <strong>$581.60</strong>.
                        </li>

                        <li>
                            have paid <strong>$100,000.00</strong> in principal, <strong>$74,481.50</strong> in
                            interest, for a
                            total of <strong>$174,481.50</strong>.</li>
                    </ul>

                    <p>
                        &nbsp;Over the 5-year term, you will:
                    </p>
                    <ul>
                        <li>
                            have made <strong>60</strong> monthly (12x per year) payments of <strong>$581.60</strong>.
                        </li>

                        <li>
                            have paid <strong>$11,492.50</strong> in principal, <strong>$23,403.80</strong> in interest,
                            for a total
                            of <strong>$34,896.30</strong>.</li>
                    </ul>

                    <p>
                        &nbsp;At the end of your 5-year term, you will:
                    </p>
                    <ul>
                        <li>
                            have a balance of <strong>$88,507.50</strong>.</li>
                    </ul>




                </div>
            </div>
        </div>
    </div>
</div>